
<div class="container">
	<div class="page-header">
		<h1 class="text-center">بازیها</h1>
	</div>
	<p class="lead text-center"></p>
	<div class="container">
		<div class="row stylish-panel">

		<% for game  in Game.all%>


			<div class="col-md-6 pull-right">
				<div>
					<div class="imageContainer img-circle img-thumbnail <%= game.element%>"><%= game.name%></div>

					<h2></h2>
					<p>
					</p>
					<a href="<%= levels_path(:game_id => game.id)%>" class="btn btn-primary"><%=t :see%> »</a>
				</div>
			</div>
			<%end%>
		</div>


	</div>


</div>