<div class="container">
	<div class="page-header">
		<h1 class="text-center">زنبور بلا</h1>
	</div>
	<p class="lead text-center">در هر بازی باید برنامه ای بنویسید تا زنبور را به گل برساند</p>
	<div class="container">
		<%@i=1%>
		<% for level in Level.all%>

		<%if @i%3 == 1 %>
		<div class="row stylish-panel">
  	   <%end%>
			<div class="col-md-4 pull-right">
				<div>
					<div class="imageContainer img-circle img-thumbnail"><%= level.name%></div>

					<h2></h2>
					<p>
					</p>
					<a href="<%= level_path(level)%>" class="btn btn-primary"><%=t :see%> »</a>
				</div>
			</div>
	<%if @i%3 == 0 %>
		</div>
	<%end%>
	<%@i = @i+1%>
	<%end%>
	</div>


</div>
<!-- /container -->